<!----------------------------------------Модальное окно "О программе"------------------------------------------>
<div id="vueAbout">
	<div class="modal fade" id="AboutModalWindow" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal1 block-about">
			<div class="modal-content back">
				<div class="modal-header">
					<h4 class="modal-title" id="exampleModalLabel">О программе</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<!-- <h5 class="text_center1">Версия программы: 1.0</h5> -->
					<br />
					<div class="about-image">
						<img src='../img/logo.svg' width="300" height="300">
						<!-- <div class="btcwdgt-news" bw-cur="usd"></div> -->
					</div>
					<br />
					<p class="text_center1">Тестовый текст</p>
					<p class="text_center1">В случае обнаружения ошибок в программе, смиритесь с этим!</p>
					<p class="text_center1">Для получения технической поддержки по приложению, пожалуйста, никуда не звоните!</p>
					
				</div>
<!-- 				<div class="modal-footer">
					
				</div> -->
			</div>
	    </div>
	</div>
</div>
<!-- <script>
	(function(b,i,t,C,O,I,N) {
	  window.addEventListener('load',function() {
		if(b.getElementById(C))return;
		I=b.createElement(i),N=b.getElementsByTagName(i)[0];
		I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
	  },false)
	})(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
  </script> -->