{% raw %}
<!----------------------------------------Модальное окно "Принятие дефекта"------------------------------------------> 
<div id="vueAcceptDefect">
    <div class="modal fade" id="AcceptModalWindow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header status_accept_defect">
            <h4 class="modal-title" id="exampleModalLabel">Принятие дефекта №</h4>
            <h4 class="modal-title" id="exampleModalLabel"> {{ cardDefectID }}</h4>
            <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close" id="closeAcceptModalWindow"></button>
          </div>
          <div class="modal-body modal-body1">
            <form method="post">
              <div class="block_nav_modal">
                <button @click="clickbuttonmain" type="button" id="isHiddenblockhistory" class="btn margin" :class="backgroundMainButtonCCS" >Общая информация</button>
                <button @click="clickbuttonhistory" type="button" id="isHiddenblockmain" class="btn margin" :class="backgroundHistoryButtonCCS">История дефекта</button>
                <button @click="clickbuttonclassification" type="button" class="btn margin" :class="backgroundСlassificationButtonCCS">Классификация дефекта</button>
              </div>

              <div :class="{ hidden: isHiddenblockmain == 'true' }" :hidden='isHiddenblockmain == "true"'>
                <div class="componentWraper3">
                  <div class="block_row block_margin">
                    <div class="block_row1 width50 margin6px">
                      <div class="block_data_column1">
                        <div class="block_input_data">
                          <b class="label">Дата регистрации</b>
                        </div>
                        <input type="text" class="form-control width60" aria-label="readonly input example" v-model="cardDateRegistration" disabled>
                      </div>
                      <div class="block_data_column3 width50">
                        <div class="block_input_data block_data9">
                          <b class="label">Журнал дефекта</b>
                        </div>
                        <input type="text" class="form-control" aria-label="readonly input example" v-model="cardTypeDefectName" disabled>
                      </div>
                    </div>
                    <div class="block_row width50">
                      <div class="block_data_column width50">
                        <div class="block_input_data">
                          <b class="label">Владелец оборудования</b>
                        </div>
                        <input type="text" class="form-control" placeholder="Обнаружил дефект"  aria-label="readonly input example" v-model="cardDivisionOwner" disabled>
                      </div>
                      <div class="block_data_column width50">
                          <div class="block_input_data">
                            <b class="label">Статус дефекта</b>
                          </div>
                          <input type="text" class="form-control " v-model="cardStatusDefectName" placeholder="Статус дефекта" disabled>
                      </div>
                    </div>
                  </div>
    
                  <div class="block_rowKKS">
                    <div class="block_data_column_KKS">
                      <div class="block_input_data">
                        <b class="label">KKS</b>
                      </div>
                      <div class="block_data8">
                        <div class="form-floating block_row1 margin6px">
                          <input type="text" class="form-control widthKKS margin-right" v-model="cardKKS" disabled>
                          <div class="KKS_discr">
                            <p class="text-muted"><b>#</b>-Цифра;  <b>X</b>-Буква; <b>N</b>-цифра/буква; <br> <b>A</b>-(необязательные)</p>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="block_row width650 componentWraper2">
                      <div class="block_row">
                        <div class="block_filter_flex1">
                          <div class = "form-check form-switch block-checkbox-left block-checkbox3">
                            <label class = "form-check-label" for="flexPnrAccept">
                              В эксплуатации
                            </label>
                          </div>
                          <div class = "form-check form-switch block-checkbox3">
                            <input class="form-check-input" type="checkbox" id="flexPnrAccept" v-model="cardPnr" disabled>
                            <label class = "form-check-label margin-right1" for="flexPnrAccept">
                              В ПНР
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="block_data_column2">
                        <div class="form-check form-switch ">
                          <input class="form-check-input" type="checkbox" id="flexSafetyAccept" v-model="cardSafety" disabled>
                          <label class="form-check-label margin-right" for="flexSafetyAccept">Влияет на безопасность и несение нагрузки</label>
                        </div>
                        <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexExploitationAccept" v-model="cardExploitation" disabled>
                          <label class="form-check-label margin-right" for="flexExploitationAccept">Влияет на режим нормальной эксплуатации</label>
                        </div>
                      </div>
                    </div>
                  </div>
    
                  <div class="block_data4">
                    <div class="block_data_column1">
                      <div class="block_data_column">
                        <div class="block_input_data">
                          <b class="label">Наименование оборудования</b> 
                        </div>
                        <textarea class="form-control textareanoneresize" v-model="cardSystemName" placeholder="Оборудование" disabled></textarea>
                      </div>
                    </div>
                    <div class="block_data_column1">
                      <div >
                        <div class="block_input_data">
                          <b class="label">Местоположение</b>
                        </div>
                      </div>
                      <textarea class="form-control textareanoneresize" v-model="cardLocation" placeholder="Местоположение" disabled></textarea>
                    </div>
                  </div>
      
                  <div class="block_data_column">
                    <div class="block_input_data">
                      <b class="label">Описание дефекта</b> 
                    </div>
                    <textarea class="form-control textareanoneresize" v-model="cardDescription" placeholder="Описание дефекта" disabled></textarea>
                  </div>
                    
                  <div class="block_data4">
                    <div class="block_data_column1 margin_left_right">
                      <div class="block_input_data">
                        <b class="label">Обнаружил дефект</b>
                      </div>
                      <input type="text" class="form-control" placeholder="Обнаружил дефект"  aria-label="readonly input example" v-model="cardRegistrator" disabled>
                    </div>
    
                    <div class="width50 margin_left_right">
                      <div class="block_row1">
                        <div>
                          <div class="block_input_data">
                            <b class="label">Срок устранения</b>
                          </div>
                          <input id="date" class="form-control" type="date" v-model="cardDatePlannedFinish" disabled :hidden='cardPPR'>
                        </div>
                        <div class="block_checkbox block_checkbox1">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="changeCheckbox" v-model="isHiddenDate" true-value=true false-value=false disabled>
                            <label class="form-check-label margin-right" for="flexCheckChecked">Будет устранен в ППР</label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
     
                <div class="block_row componentWraper">
                  <div class="block_data_column1">
                    <div class="block_data_column">
                      <div class="block_input_data"><b class="label">Ответственный за устранение</b></div>
                        <input type="text" class="form-control" placeholder="Ответственный за устранение" v-model="cardRepairManager" disabled>
                    </div>
                    <div class="block_data_column">
                      <div class="block_input_data">
                        <b class="label">Исполнитель ремонта</b>
                        <b class="zvezda"> * </b>
                      </div>

                      <!-- <select class="form-select" :class="{ 'is-valid': newWorker_id !== 0, 'is-invalid': check_worker === true & newWorker_id === 0 }" aria-label="Default select example" v-model="newWorker_id" :disabled='isDisabledAcceptDefect' data-toggle="popover_accept" data-bs-trigger="hover focus" data-bs-content="Исполнителя ремонта может выбрать только Руководитель ремонта"> -->
                      <!-- <select class="form-select" :class="{ 'is-valid': newWorker_id !== 0, 'is-invalid': newWorker_id === 0 }" v-model="newWorker_id" :disabled='isDisabledAcceptDefect' data-toggle="popover_accept" data-bs-trigger="hover focus" data-bs-content="Исполнителя ремонта может выбрать только Руководитель ремонта">
                        <option selected disabled :value=0>Выберите исполнителя ремонта</option>
                        <option v-for="worker in workers"  :value="worker.user_id">{{ worker.user_surname + ' ' + worker.user_name + ' ' + '(' + ' ' + worker.user_division  + ' ' + ')' }}</option>
                      </select>  -->

                      <input class="form-control" list="datalistWorkers" placeholder="Введите исполнителя ремонта..." :class="{ 'is-valid': newWorker_id !== '', 'is-invalid': newWorker_id === '' }"  v-model="newWorker_id" :disabled='isDisabledAcceptDefect'>
                      <datalist id="datalistWorkers">
                        <option v-for="worker in workers"  :value="worker.user_id">{{ worker.user_surname + ' ' + worker.user_name + ' ' + '(' + ' ' + worker.user_division  + ' ' + ')' }}</option>
                      </datalist>

                    </div>
                  </div>
                  <div class="block_data_column1">
                    <div class="block_data_column">
                      <div >
                        <div class="block_input_data">
                          <b class="label">Выполненные работы</b>
                        </div>
                      </div>
                      <textarea class="form-control height100 textareanoneresize" aria-label="Disabled input example" v-model="cardWorkerDescription" disabled readonly></textarea>
                    </div>
                  </div>
                </div>
    
                <div class="block_row last_block_row block_border componentWraper1">
                  <div class="block_data_column1 margin6px">
                    <div class="block_input_data">
                      <b  class="label">Выполнил проверку после ремонта</b>
                    </div>
                    <input type="text" class="form-control" v-model="cardChecker" aria-label="readonly input example" disabled>
                  </div>
                  <div class="block_data_column1 margin6px">
                    <div class="block_input_data">
                      <b class="label">Результат проверки</b>
                    </div>
                    <input type="text" class="form-control" aria-label="readonly input example" disabled>
                  </div>
                </div>
              </div>
 
              <div :class="{ hidden: isHiddenblockhistory == 'true' }" :hidden='isHiddenblockhistory == "true"'>
                <h4 class="h4 margin-left">История дефекта</h4>
                <div class="table-responsive small">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr >
                        <th scope="col">#</th>
                        <th class="column1" scope="col">Дата</th>
                        <th class="column2" scope="col">Статус</th>
                        <th class="column3" scope="col">Ответственное лицо</th>
                        <th class="column4" scope="col">Комментарий</th>
                      </tr>
                    </thead>
                  </table>
                  <div class="scroll-table-body">
                    <table class="table table-striped table-sm table-hover">
                      <tbody class="demotable">
                          <tr v-for="cardHistory in cardHistorys">
                            <td class="column1">{{ cardHistory.history_date }}</td>
                            <td class="column2">{{ cardHistory.history_status }}</td>
                            <td class="column3">{{ cardHistory.history_user.user_surname + ' ' + cardHistory.history_user.user_name }}</td>
                            <td class="column4">{{ cardHistory.history_comment }}</td>
                          </tr>
                      </tbody>
                    </table> 
                  </div>
                </div>
              </div>

              <!----------------------------------------- Классификация дефекта ------------------------------------------------>
              <div :hidden='isHiddenblockclassification == "true"'>
                <h4 class="h4 margin-left">Классификация дефекта</h4>
                <br>
                <div class="block_row1">
                  <div class="width100">
                    <div class="block_row1">
                      <div class="block_data_column1 width300px rr20">
                        <div class="block_input_data">
                          <b class="label">Категория дефекта</b>
                        </div>
                        <select class="form-select custom-select-withnot-arrow" v-model="newCategoryDefect_id" disabled>
                          <option disabled selected :value=0>Выберите категорию дефекта</option>
                          <option v-for="category_defect in categories_defect" :value="category_defect.category_defect_id">{{ category_defect.category_defect_name }}</option>
                        </select>  
                      </div>
                      <div class="block_data_column1 width300px rr20">
                        <div class="block_input_data">
                          <b class="label">Классификация оборудования по НП-001-97</b>
                        </div>
                        <input type="text" class="form-control" placeholder="Введите классификацию оборудования" v-model="newClassSystemName" disabled>
                      </div>
                    </div>
                    <br>
                    <br>
                    <div class="block_row componentWraper4">
                      <div class="block_data_column4">
                        <div class="block_data_column width300px">
                          <div class="block_input_data">
                            <b class="label">Категория причины и код причины</b>
                          </div>
                          <input type="text" class="form-control" placeholder="Выберите код причины" v-model="newCoreClassificationCode" disabled>
                         <!--  <select class="form-select block_theme width300px custom-select-withnot-arrow" @change="changeCoreClassificationCode" v-model="newCoreClassificationCode" disabled>
                            <option disabled :value="0" selected>Выберите код причины</option>
                            <option v-for="category_reason in categories_reason" :value="category_reason.category_reason_code">{{ category_reason.category_reason_code }}</option>
                          </select>  -->
                        </div>
                        <div class="block_data_column">
                          <div class="block_input_data">
                            <b class="label">Причина события</b>
                          </div>
                          <textarea class="form-control height100 textareanoneresize" v-model="newCoreClassificationName" disabled></textarea>
                        </div>
                      </div>
                    </div>
      
                    <br>

                    <div class="block_row componentWraper5">
                      <div class="block_data_column4">
                        <div class="block_data_column width300px">
                          <div class="block_input_data">
                            <b class="label">Категория причины и код причины</b>
                          </div>
                          <input type="text" class="form-control" placeholder="Выберите код причины" v-model="newDirectClassificationCode" disabled>
                        </div>
                        <div class="block_data_column">
                          <div class="block_input_data">
                            <b class="label">Причина события</b>
                          </div>
                          <textarea class="form-control height100 textareanoneresize" v-model="newDirectClassificationName" disabled></textarea>
                        </div>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>   
              </div>
            
  
              <div class="modal-footer modal-footer1">
                <div class="block_data9">
                  <b class="zvezda"> &nbsp * &nbsp </b>
                  <p>- обязательные элементы для заполнения</p>
                </div>
                <div>
                  <span class="d-inline-block button-margin"  data-toggle="popover_accept" data-bs-trigger="hover focus" data-bs-content="Эта кнопка доступна только для Администратора">
                    <button @click="cancelDefect" id="acceptCancelDefectButton" :hidden='isDisabledAcceptDefect1' class="btn btn-outline-danger" type="button">Отменить дефект</button>
                  </span>
                  <span class="verticalLine1" :hidden='isDisabledAcceptDefect1'></span>
                  <span class="d-inline-block button-margin">
                    <button @click="exportHistoryExcel" class="btn btn-secondary" type="button">Выгрузить дефект в Excel</button>
                  </span>
                  <span class="verticalLine1" :hidden='isDisabledAcceptDefect'></span>
                  <span class="d-inline-block" tabindex="0" data-toggle="popover_accept1" data-bs-trigger="hover focus" data-bs-content="Эта кнопка доступна только для пользователя с ролью Руководитель ремонта">
                    <button @click="requiresSolution" id="acceptCancelDefectButton" :hidden='isDisabledAcceptDefect' class="btn btn-warning margin-right" data-bs-target="#CorrectionDefectModalWindow" type="button">Требует решения</button>
                  </span>
                  <span class="d-inline-block" tabindex="0" data-toggle="popover_accept1" data-bs-trigger="hover focus" data-bs-content="Эта кнопка доступна только для пользователя с ролью Руководитель ремонта">
                    <button @click="acceptDefect" id="acceptAcceptDefectButton" :hidden='isDisabledAcceptDefect' class="btn btn-primary" type="button">Назначить исполнителя</button>
                  </span>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endraw %}
<script src="{{ url_for('defect_js', path='modal/accept-defect.js') }}"></script>