{% raw %}
<div id="VueSpravochnikCore">
  <div class="modal modal3 fade" id="SpavochnikModalWindowCore" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content pos_r1">
        <div class="modal-header card_defect" style="border-bottom: none;">
          <h3 class="modal-title" id="exampleModalLabel">Справочник кодов коренных причин дефекта</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModalSpavochnikDefect"></button> 
        </div>
        <div class="modal-body modal-body1">
          <form method="post">
            {% endraw %}
            <div>
                <div class="block_data_column3">
                  <ul class="nav nav-tabs" style="height: 50px;">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="#" @click="clicklinkpage1" :class="backgroundPage1CCS">Диапазон кодов: 5.2.0. - 5.2.9.2.4.</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" @click="clicklinkpage2" :class="backgroundPage2CCS">Диапазон кодов: 5.2.9.3. - 5.2.9.6.2.4.1.</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" @click="clicklinkpage3" :class="backgroundPage3CCS">Диапазон кодов: 5.2.9.6.2.4.2. - 5.2.9.7.3.</a>
                    </li>
                  </ul>
                  
                  <div class="block-table" :class="{ hidden: isHiddenblockcods1 == 'true' }" :hidden='isHiddenblockcods1 == "true"'>
                    <table class="table table-striped table-sm table-hover">
                      <thead>
                        <tr>
                          <th class="table-column1">Код</th>
                          <th>Причина</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>5.2.0.</td>
                          <td>Не определена</td> 
                        </tr>
                        <tr>
                          <td>5.2.1.</td>
                          <td>Ошибка конструирования (включая изменения)</td>
                        </tr>
                        <tr>
                          <td>5.2.2.</td>
                          <td>Ошибка проектирования (включая изменения)</td>
                        </tr>
                        <tr>
                          <td>5.2.3.</td>
                          <td>Дефект изготовления</td>
                        </tr>
                        <tr>
                          <td>5.2.4.</td>
                          <td>Недостатки сооружения</td>
                        </tr>
                        <tr>
                          <td>5.2.5.</td>
                          <td>Недостатки монтажа</td>
                        </tr>
                        <tr>
                          <td>5.2.6.</td>
                          <td>Недостатки наладки</td>
                        </tr>
                        <tr>
                          <td>5.2.7.</td>
                          <td>Недостатки ремонта, выполняемого сторонними (по отношению к АС) организациями</td>
                        </tr>
                        <tr>
                          <td>5.2.8.</td>
                          <td>Недостатки проектной, конструкторской и другой документации завода-изготовителя</td>
                        </tr>
                        <tr>
                          <td>5.2.9.</td>
                          <td>Недостатки управления АС и недостатки организации эксплуатации АС</td>
                        </tr>
                        <tr>
                          <td>5.2.9.1.</td>
                          <td>Недостатки эксплуатационной документации</td>
                        </tr>
                        <tr>
                          <td>5.2.9.1.1.</td>
                          <td>Недостатки эксплуатационной документации: отсутствие документации</td>
                        </tr>
                        <tr>
                          <td>5.2.9.1.2.</td>
                          <td>Недостатки эксплуатационной документации: неправильное или неоднозначное определение требований документации</td>
                        </tr>
                        <tr>
                          <td>5.2.9.1.3.</td>
                          <td>Недостатки эксплуатационной документации: несвоевременное внесение изменений в документацию</td>
                        </tr>
                        <tr>
                          <td>5.2.9.2.</td>
                          <td>Неприятие необходимых мер или несвоевременное их принятие</td>
                        </tr>
                        <tr>
                          <td>5.2.9.2.1.</td>
                          <td>Неприятие необходимых мер или несвоевременное их принятие: по обеспечению систем рабочими средами, материалами, запасными частями, узлами, агрегатами</td>
                        </tr>
                        <tr>
                          <td>5.2.9.2.2.</td>
                            <td>Неприятие необходимых мер или несвоевременное их принятие: по изменению схемных решений систем, конструкции элементов, проектных решений и проектной документации; а также принятие мер без согласования с проектной, конструкторской организациями, изготовителем оборудования (элементов)</td>
                          </tr>
                          <tr>
                            <td>5.2.9.2.3.</td>
                            <td>Неприятие необходимых мер или несвоевременное их принятие: по устранению выявленных недостатков</td>
                          </tr>
                          <tr>
                            <td>5.2.9.2.4.</td>
                            <td>Неприятие необходимых мер или несвоевременное их принятие: по соответствующему анализу технических решений, изменению проектных схем до выполнения работ по их реализации</td>
                          </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="block-table" :class="{ hidden: isHiddenblockcods2 == 'true' }" :hidden='isHiddenblockcods2 == "true"'>
                    <table class="table table-striped table-sm table-hover">
                      <thead>
                        <tr>
                          <th class="table-column1">Код</th>
                          <th>Причина</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>5.2.9.3.</td>
                          <td>Недостаток процедуры допуска к работам по устранению дефектов, техническому обслуживанию и контроля за проведением этих работ</td>
                        </tr>
                        <tr>
                          <td>5.2.9.4.</td>
                          <td>Недостатки процедур технического обслуживания и ремонта, выполняемых персоналом АС, включая контроль</td>
                        </tr>
                        <tr>
                          <td>5.2.9.5.</td>
                          <td>Проблемы связи или ошибки пр передаче информации</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.</td>
                          <td>Недостатки персонала АС</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.1.</td>
                          <td>Психологические источники неправильных действий персонала</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.1.1.</td>
                          <td>Психологические источники неправильных действий персонала: неадекватная мотивация</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.1.2.</td>
                          <td>Психологические источники неправильных действий персонала: неадекватные профессионально важные личностные психологические качества</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.1.3.</td>
                          <td>Психологические источники неправильных действий персонала: неадекватные психофизиологические качества (скорость и точность реагирования)</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.1.4.</td>
                          <td>Психологические источники неправильных действий персонала: неадекватные характеристики мышления, памяти, внимания</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.1.5.</td>
                          <td>Психологические источники неправильных действий персонала: сниженное функциональное состояние</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.1.6.</td>
                          <td>Психологические источники неправильных действий персонала: недостатки профессиональной подготовленности</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.</td>
                          <td>Внешние условия и средства деятельности</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.1.</td>
                          <td>Внешние условия и средства деятельности: эргономические характеристики эксплуатационной документации</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.2.</td>
                          <td>Эргономические характеристики условий труда</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.2.1.</td>
                          <td>Эргономические характеристики условий труда: режим труда и отдыха</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.2.2.</td>
                          <td>Эргономические характеристики условий труда: организация рабочего места</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.2.3.</td>
                          <td>Эргономические характеристики условий труда: эргономические недостатки технологии</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.3.</td>
                          <td>Скрытые (невыявленные) эргономические ошибки проекта и монтажа на предшествующих этапах жизненного цикла АС</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.4.</td>
                          <td>Конфликт или иная социально-психологическая ситуация, повлиявшая на функциональное состояние при выполнении неправильного действия</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.4.1.</td>
                          <td>Конфликт или иная социально-психологическая ситуация, повлиявшая на функциональное состояние при выполнении неправильного действия: в группе (коллективе)</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="block-table" :class="{ hidden: isHiddenblockcods3 == 'true' }" :hidden='isHiddenblockcods3 == "true"'>
                    <table class="table table-striped table-sm table-hover">
                      <thead>
                        <tr>
                          <th class="table-column1">Код</th>
                          <th>Причина</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>5.2.9.6.2.4.2.</td>
                          <td>Конфликт или иная социально-психологическая ситуация, повлиявшая на функциональное состояние при выполнении неправильного действия: в быту</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.5.</td>
                          <td>Социальные условия</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.6.</td>
                          <td>Социально-политическая ситуация</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.7.</td>
                          <td>Организационные факторы</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.7.1.</td>
                          <td>Организационные факторы: организационная структура</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.7.2.</td>
                          <td>Организационные факторы: контроль</td>
                        </tr>
                        <tr>
                          <td>5.2.9.6.2.7.3.</td>
                          <td>Организационные факторы: связь</td>
                        </tr>
                        <tr>
                          <td>5.2.9.7.</td>
                          <td>Недостатки в станционной программе контроля</td>
                        </tr>
                        <tr>
                          <td>5.2.9.7.1.</td>
                          <td>Недостатки в станционной программе контроля: за выявлением и устранением неработоспособности систем (элементов)</td>
                        </tr>
                        <tr>
                          <td>5.2.9.7.2.</td>
                          <td>Недостатки в станционной программе контроля: за выявлением и устранением недостатков процедур</td>
                        </tr>
                        <tr>
                          <td>5.2.9.7.3.</td>
                          <td>Недостатки в станционной программе контроля: за выявлением и устранением недостатков в подготовке персонала</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>   
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ url_for('defect_js', path='spravochnik-core.js') }}"></script>