{% raw %}
<div id="VueSpravochnikDirect">
  <div class="modal modal3 fade" id="SpavochnikModalWindowDirect" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content pos_r1">
        <div class="modal-header card_defect" style="border-bottom: none;">
          <h3 class="modal-title" id="exampleModalLabel">Справочник кодов непосредственных причин дефекта</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModalSpavochnikDefect"></button> 
        </div>
        <div class="modal-body modal-body1">
          <form method="post">
            <div>
                <div class="block_data_column3">
                  <div class="block-table">
                    <div class="accordion accordion-flush" id="accordionFlushExample">
                      <div class="accordion-item"> 
                        <h2 class="accordion-header" id="flush-headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            {{ accordion1Header }}
                          </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse show" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            <table class="table table-striped table-sm table-hover">
                              <thead>
                                <tr>
                                  <th class="table-column1">Код</th>
                                  <th>Причина</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in accordion1" @dblclick="updateDirectClassification(row)">
                                  <td>{{ row.category_reason_code }}</td>
                                  <td>{{ row.category_reason_name }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            {{ accordion2Header }}
                          </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">

                            <table class="table table-striped table-sm table-hover">
                              <thead>
                                <tr>
                                  <th class="table-column1">Код</th>
                                  <th>Причина</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in accordion2" @dblclick="updateDirectClassification(row)">
                                  <td>{{ row.category_reason_code }}</td>
                                  <td>{{ row.category_reason_name }}</td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            {{ accordion3Header }}
                          </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                            <table class="table table-striped table-sm table-hover">
                              <thead>
                                <tr>
                                  <th class="table-column1">Код</th>
                                  <th>Причина</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in accordion3" @dblclick="updateDirectClassification(row)">
                                  <td>{{ row.category_reason_code }}</td>
                                  <td>{{ row.category_reason_name }}</td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFour">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                            {{ accordion4Header }}
                          </button>
                        </h2>
                        <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                            <table class="table table-striped table-sm table-hover">
                              <thead>
                                <tr>
                                  <th class="table-column1">Код</th>
                                  <th>Причина</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in accordion4" @dblclick="updateDirectClassification(row)">
                                  <td>{{ row.category_reason_code }}</td>
                                  <td>{{ row.category_reason_name }}</td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingFive">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                            {{ accordion5Header }}
                          </button>
                        </h2>
                        <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                            <table class="table table-striped table-sm table-hover">
                              <thead>
                                <tr>
                                  <th class="table-column1">Код</th>
                                  <th>Причина</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in accordion5" @dblclick="updateDirectClassification(row)">
                                  <td>{{ row.category_reason_code }}</td>
                                  <td>{{ row.category_reason_name }}</td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSix">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                            {{ accordion6Header }}
                          </button>
                        </h2>
                        <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                            <table class="table table-striped table-sm table-hover">
                              <thead>
                                <tr>
                                  <th class="table-column1">Код</th>
                                  <th>Причина</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in accordion6" @dblclick="updateDirectClassification(row)">
                                  <td>{{ row.category_reason_code }}</td>
                                  <td>{{ row.category_reason_name }}</td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingSeven">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                            {{ accordion7Header }}
                          </button>
                        </h2>
                        <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                            <table class="table table-striped table-sm table-hover">
                              <thead>
                                <tr>
                                  <th class="table-column1">Код</th>
                                  <th>Причина</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in accordion7" @dblclick="updateDirectClassification(row)">
                                  <td>{{ row.category_reason_code }}</td>
                                  <td>{{ row.category_reason_name }}</td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingEight">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                            {{ accordion8Header }}
                          </button>
                        </h2>
                        <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                          <div class="accordion-body">
                            
                            <table class="table table-striped table-sm table-hover">
                              <thead>
                                <tr>
                                  <th class="table-column1">Код</th>
                                  <th>Причина</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr v-for="row in accordion8" @dblclick="updateDirectClassification(row)">
                                  <td>{{ row.category_reason_code }}</td>
                                  <td>{{ row.category_reason_name }}</td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>   
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}
<script src="{{ url_for('defect_js', path='spravochnik-direct.js') }}"></script>