{% raw %}
<div id="vueAddDefect">
    <div class="modal fade" id="AddDefectModalWindow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content pos_r1">
          <div class="modal-header status_add_defect">
            <h2 class="modal-title" id="exampleModalLabel">Регистрация дефекта</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="closeModalAddDefect"></button>
          </div>
          <div class="modal-body modal-body1">
            <form method="post">

            <div class="block_border">
              <div class="block_row last_block_row">
                <div class="block_data_column">
                  <div class="block_input_data">
                    <b class="label">Дата регистрации</b>
                  </div>
                  <input type="text" class="form-control" aria-label="readonly input example" disabled>
                </div>
                <div class="block_data_column">
                  <div class="block_input_data block_data9">
                    <b class="label">Журнал дефекта</b>
                    <b class="zvezda"> &nbsp * </b> 
                  </div>
                  <select class="form-select" :class="{ 'is-valid': newTypeDefect !== '0', 'is-invalid': check_defect_type === true & newTypeDefect === '0' }" @change="changeTextCorrection" aria-label="Default select example" v-model="newTypeDefect" @change="onChangeTypeDefect" required>
                    <option disabled selected :value=0>Выберите журнал дефекта</option>
                    <option  v-for="defect_type_defect in defect_type_defects" :value="defect_type_defect.type_defect_name">{{ defect_type_defect.type_defect_name }}</option>
                  </select>
                  <!-- <select class="form-select" :class="{ 'is-valid': newTypeDefect !== '0', 'is-invalid': newTypeDefect === 'True' }" @change="changeTextCorrection" :style= "{'border-color': style_input_type}" aria-label="Default select example" v-model="newTypeDefect" @change="onChangeTypeDefect" required>
                    <option disabled selected :value=0>Выберите тип дефекта</option>
                    <option  v-for="defect_type_defect in defect_type_defects" :value="defect_type_defect.type_defect_name">{{ defect_type_defect.type_defect_name }}</option>
                  </select> -->
                </div>
                <div class="block_data_column">
                  <div class="block_input_data">
                    <b class="label">Владелец оборудования</b>
                  </div>
                    <!-- <select class="form-select" :class="{ 'is-valid': newDivisionOwner_id !== '0', 'is-invalid': newDivisionOwner_id === '0' }"  v-model="newDivisionOwner_id"> -->
                    <select class="form-select" v-model="newDivisionOwner_id" disabled>
                      <option disabled selected :value=0>Выберите подразделение</option>
                      <option v-for="division in defect_divisions" :value="division.division_id">{{ division.division_name }}</option>
                    </select> 
                </div>
                <div class="block_data_column">
                    <div class="block_input_data">
                      <b class="label">Статус дефекта</b>
                    </div>
                      <select class="form-select" aria-label="Disabled select example" disabled>
                        <!-- <option disabled selected>Выберите статус дефекта</option>
                        <option v-for="defect_type_defect in defect_type_defects"></option> -->
                      </select>
                </div>
              </div>

              <div class="block_row block_border">
                <div class="block_data_column block_100">
                  <div class="block_input_data">
                    <b class="label">Состояние оборудования</b>
                  </div>

                  <div class="block_row ">
                    <div class="block_filter_flex1">
                      <div class = "form-check form-switch block-checkbox-left block-checkbox1">
                        <label class = "form-check-label" for = "defaultCheck1">
                          В эксплуатации
                        </label>
                      </div>
                      <div class = "form-check form-switch block-checkbox1">
                        <input class="form-check-input" type="checkbox">
                        <label class = "form-check-label margin-right1" for = "defaultCheck1">
                          В ПНР
                        </label>
                      </div>
                    </div>
                    <div class="form-check form-switch block-checkbox1">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label margin-right" for="flexCheckChecked">Влияет на безопасность</label>
                    </div>
                    <div class="form-check form-switch block-checkbox1">
                      <input class="form-check-input" type="checkbox">
                      <label class="form-check-label margin-right" for="flexCheckChecked">Влияет на нагрузку</label>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="block_data4">
                <div class="block_data_column1">
                  <div class="block_data_column">
                    <div class="block_input_data">
                      <b class="label">KKS</b>
                    </div>
                    <div class="block_data8">
                      <div class="form-floating">
                        <input type="text" id="inputKKS" class="form-control" @input="event => event.target.value = event.target.value.toUpperCase()" v-maska="maskObject" :data-maska="placeholders[newTypeDefect]" data-maska-tokens="X:[a-zA-Z]|N:[a-zA-Z0-9]|A:[a-zA-Z0-9]:optional"
                        v-model="newSystemKKS" :disabled="newTypeDefect==='0'" :placeholder="placeholders[newTypeDefect]" />
                        <label for="inputKKS" :hidden="newTypeDefect==='0'">{{ placeholders[newTypeDefect] }}</label>
                        <p class="text-muted text_center"><b>#</b>-Цифра; <b>X</b>-Буква; <b>N</b>-цифра/буква; <b>A</b>-(необязательные)</p>
                      </div>
                    </div>
                  </div>
                  <div class="block_data_column">
                    <div class="block_input_data">
                      <b class="label">Наименование оборудования</b> 
                      <b class="zvezda"> * </b>
                    </div>
                    <textarea id="my-system" @input="changeTextWork" class="form-control" @input="setLimitSystem" :class="{ 'is-valid': newSystemName !== '', 'is-invalid': check_defect_system === true & newSystemName === '' }" v-model="newSystemName" placeholder="Оборудование" required></textarea>
                    <p id="system" class="pos_a2"></p>
                  </div>
                </div>
                <div class="block_data_column1">
                  <div >
                    <div class="block_input_data">
                      <b class="label">Местоположение</b>
                    </div>
                  </div>
                  <textarea class="form-control block_height100" v-model="newLocation" placeholder="Местоположение"></textarea>
                </div>
              </div>
  
              <div class="block_data_column">
                <div class="block_input_data">
                  <b class="label">Описание дефекта</b> 
                  <b class="zvezda"> * </b> 
                </div>
                <textarea id="my-notes" @input="changeTextWork" class="form-control" :class="{ 'is-valid': newDefectNotes !== '', 'is-invalid': check_defect_notes === true & newDefectNotes === '' }" v-model="newDefectNotes" placeholder="Описание дефекта" required></textarea>
                <p id="notes" class="pos_a1"></p>
              </div>
                
              <div class="block_row">
                <div class="block_data_column1">
                  <div class="block_input_data">
                    <b class="label">Обнаружил дефект</b>
                  </div>
                  <select class="form-select" aria-label="Disabled select example" v-model="newDivisionOwner" disabled>
                    <option disabled selected>Выберите подразделение</option>
                    <option v-for="division in defect_divisions"></option>
                  </select> 
                </div>
                <div class="block_data_column1">
                  <div class="block_input_data">
                    <b class="label">Срок устранения</b>
                  </div>
                  <input class="form-control" disabled>
                </div>
              </div>
  
            </div>




              <div class="block_data4 block_border">
                <div class="block_data_column1">
                  <div class="block_data_column">
                    <div class="block_input_data">
                      <b class="label">Руководитель ремонта</b>
                    </div>
                      <select class="form-select" aria-label="Disabled select example" v-model="newDivisionOwner" disabled>
                        <option disabled selected>Выберите подразделение</option>
                        <option v-for="division in defect_divisions"></option>
                      </select> 
                  </div>
                  <div class="block_data_column">
                    <div class="block_input_data">
                      <b class="label">Исполнитель ремонта</b>
                    </div>
                    <select class="form-select" aria-label="Disabled select example" v-model="newDivisionOwner" disabled>
                      <option disabled selected>Выберите подразделение</option>
                      <option v-for="division in defect_divisions"></option>
                    </select> 
                  </div>
                </div>
                <div class="block_data_column1">
                  <div >
                    <div class="block_input_data">
                      <b class="label">Выполненные работы</b>
                    </div>
                  </div>
                  <textarea class="form-control block_height100" aria-label="Disabled input example" disabled readonly></textarea>
                </div>
              </div>
  
              <div class="block_row last_block_row block_border">
                <div class="block_data_column1">
                  <div class="block_input_data">
                    <b  class="label">Выполнил проверку после ремонта</b>
                  </div>
                  <select class="form-select" aria-label="Disabled select example" v-model="newDivisionOwner" disabled>
                    <option disabled selected>Выберите подразделение</option>
                    <option v-for="division in defect_divisions"></option>
                  </select>  
                </div>
                <div class="block_data_column1">
                  <div class="block_input_data">
                    <b class="label">Результат проверки</b>
                  </div>
                  <input type="text" class="form-control" aria-label="readonly input example" disabled>
                </div>
              </div>
                
                <div class="modal-footer modal-footer1">
                  <div class="block_data9">
                    <b class="zvezda"> &nbsp * &nbsp </b>
                    <p>- обязательные элементы для заполнения</p>
                  </div>
                  <button @click="addNewDefect" class="btn btn-primary" type="button">Зарегистрировать</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endraw %}
  <script src="{{ url_for('defect_js', path='defect.js') }}"></script>