{% raw %}
<div id='vueFilter'>
	<div class="d-flex justify-content-start block_filter">
		<div>
			<p class="mylabel">Фильтры:</p>
		</div>
		<select class="form-select form-select1 type-defect" aria-label="Default select example" v-model="filterDivision">
			<option selected value=0>Подразделение</option>
			<option v-for="division in divisions" :value="division.division_id">{{ division.division_name }}</option>
		</select>
		
		<div class="mydatechoise justify-content-center">
			<div><p class="mylabel">Начало:</p></div>
			<div class="block_data col-lg-3 col-sm-6">
				<input id="startDate" class="form-control" type="date" v-model="startDate"/>
				<!-- <span id="startDateSelected"></span> -->
			</div>
			<div><p class="mylabel">Конец:</p></div>
			<div class="block_data col-lg-3 col-sm-6">
				<input id="endDate" class="form-control" type="date" v-model="endDate"/>
				<!-- <span id="endDateSelected"></span> -->
			</div>
		</div>

		<div class="form-select1 block-checkbox1">
			<input class="form-check-input el-checkbox el-checkbox1" type="checkbox" value="" id="flexCheckChecked" :disabled='isDisabledConfirmDefect'>
			<label class="form-check-label el-checkbox" for="flexCheckChecked"> 
			  Устранить в ППР
			</label>
		  </div>

		<select class="form-select form-select1 type-defect" aria-label="Default select example" v-model="filterStatusDefect">
			<option selected value=0>Статус</option>
			<option v-for="status in statuses_defect" :value="status.status_defect_id">{{ status.status_defect_name }}</option>
		</select>

		<!-- <select class="form-select form-select1 type-defect" aria-label="Default select example">
			<option selected>Ответственный</option>
			<option value="1">Владелец оборудования</option>
			<option value="2">Руководитель ремонта</option>
			<option value="3">Исполнитель ремонта</option>
			<option value="4">Оперативный персонал</option>
		</select> -->

		<div><button type="button" @click="useFilter" class="btn btn-primary lastbutton" >Применить</button></div>
		<div class="lastbutton"><button type="button" @click="nouseFilter" class="btn btn-primary" >Очистить фильтры</button></div>

		<!-- <div class="lastbutton">
			<button @click="hintCloseDefect" type="submit" class="btn btn-primary button-text">
				<span class="button-text">Скрыть закрытые дефекты</span>
			</button>
		</div> -->
		<!-- <div class="form-check lastcheckbox">
			<input @click="hintCloseDefect" class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
			<label class="form-check-label" for="flexCheckDefault">
			  Скрыть закрытые дефекты
			</label>
		</div> -->
	</div>
</div>
{% endraw %}
<script src="{{ url_for('defect_js', path='filter.js') }}"></script>