{% raw %}
<!----------------------------------------Модальное окно "Завершение работ"------------------------------------------>
<div id="vueFinishWorkDefect">
  <div class="modal fade" id="FinishWorkModalWindow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header status_finish_work_defect">
          <h2 class="modal-title" id="exampleModalLabel">Завершение работ по дефекту №</h2>
          <h2 class="modal-title" id="exampleModalLabel"> {{ cardDefectID }}</h2>
          <button type="button" class="btn-close"  data-bs-dismiss="modal" aria-label="Close" id="closeFinishWorkModalWindow"></button>
        </div>
        <div class="modal-body">
          <form method="post">
            <input type="hidden" class="form-control" name="id" value="<?= $employee['id'] ?>">

            <div class="block_row">
              <div class="block_data2">
                <div class="block_input_data"><b>Тип дефекта</b></div>
                  <select class="form-select" aria-label="Default select example" v-model="cardTypeDefectName" disabled>
                    <option disabled selected>Выберите тип дефекта</option>
                    <option v-for="defect_type_defect in defect_type_defects">{{ defect_type_defect.type_defect_name }}</option>
                  </select>
              </div>
              <div class="block_data2">
                  <div class="block_input_data"><b>Статус дефекта</b></div>
                    <input type="text" class="form-control" v-model="cardStatusDefectName" placeholder="Статус дефекта" disabled>
              </div>
            </div>

            <div class="block_row">
              <div class="block_data2">
                <div class="block_input_data">
                  <b>KKS</b>
                </div>
                <input type="text" class="form-control" v-model="cardKKS" placeholder="xxxx xxxx xxxx xxxx"
                data-hs-mask-options='{
                  "template": "0000 0000 0000 0000"
                }' disabled>
              </div>
              <div class="block_data2">
                  <div class="block_input_data">
                    <b>Оборудование</b>
                  </div>
                  <input type="text" class="form-control" v-model="cardSystemName" placeholder="Оборудование" disabled>
              </div>
            </div>

            <div class="block_row">
              <div class="block_data3">
                <div class="block_input_data"><b>Описание дефекта</b></div>
                <textarea class="form-control" v-model="cardDescription" placeholder="Описание дефекта" disabled></textarea>
              </div>
              <div class="block_data3">
                <div class="block_input_data"><b>Местоположение</b></div>
                <textarea class="form-control" v-model="cardLocation" placeholder="Местоположение" disabled></textarea>
              </div>
            </div>

            <div class="block_row">
              <div class="block_data2">
                <div class="block_input_data"><b>Подразделение-владелец</b></div>
                  <input type="text" class="form-control" placeholder="Обнаружил дефект"  aria-label="readonly input example" v-model="cardDivisionOwner" disabled>
              </div>
              <div class="block_data2">
                <div class="block_input_data"><b>Обнаружил дефект</b></div>
                  <input type="text" class="form-control" placeholder="Обнаружил дефект"  aria-label="readonly input example" v-model="cardRegistrator" disabled>
              </div>
            </div>

            <div class="block_row">
              <div class="block_data2">
                <div class="block_input_data">
                  <b>Дата регистрации</b>
                </div>
                <input type="text" class="form-control" placeholder="Дата регистрации" v-model="cardDateRegistration" disabled>
            </div>
              <div class="block_data2">
                <div class="block_input_data"><b>Руководитель ремонта</b></div>
                  <select class="form-select" aria-label="Default select example" v-model="newRepairManager_id" disabled>
                    <option selected disabled>Выберите руководителя ремонта</option>
                    <option v-for="repair_manager in repair_managers" :value="repair_manager.user_id">{{ repair_manager.user_surname + ' ' + repair_manager.user_name }}</option>
                  </select> 
              </div>
            </div>

            <div class="block_row">
              <div class="block_data2">
                <div class="block_input_data"><b>Срок устранения</b></div>
                  <input class="form-control" type="date" disabled>
              </div>
              <div class="block_data2">
                <div class="block_input_data"><b>Исполнитель ремонта</b></div>
                  <select class="form-select" aria-label="Default select example" v-model="cardWorker" disabled>
                    <option selected disabled>Выберите исполнителя ремонта</option>
                    <option v-for="worker in workers">{{ worker.user_surname + ' ' + worker.user_name }}</option>
                  </select> 
              </div>
            </div>

            <div class="block_row">
              <div class="block_data4">
                <div class="block_input_data"><b>Выполненные работы</b></div>
                <textarea class="form-control" placeholder="Комментарий исполнителя" v-model="cardWorkerDescription"></textarea>
              </div>
            </div>
            
            <div class="block_row">
              <div class="block_data2">
                <div class="block_input_data"><b>Выполнил проверку</b></div>
                  <select class="form-select" aria-label="Disabled select example" v-model="cardChecker" disabled>
                    <option disabled selected>Выберите подразделение</option>
                    <option v-for="division in defect_divisions"></option>
                  </select> 
              </div>
              <div class="block_data2">
                <div class="block_input_data">
                  <b>Результат проверки</b>
                </div>
                <input type="text" class="form-control" placeholder="Результат проверки"  disabled>
              </div>
            </div>

            <div class="block-history">
              <h3>История дефекта</h3>
              <div class="table-responsive small">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr >
                      <th scope="col">#</th>
                      <th scope="col">Дата</th>
                      <th scope="col">Статус</th>
                      <th scope="col">Ответственное лицо</th>
                      <th scope="col">Комментарий</th>
                    </tr>
                  </thead>
                  <tbody class="demotable">
                      <tr v-for="cardHistory in cardHistorys">
                        <td >{{ cardHistory.history_date }}</td>
                        <td >{{ cardHistory.history_status }}</td>
                        <td >{{ cardHistory.history_user.user_surname }}</td>
                        <td >{{ cardHistory.history_comment }}</td>
                      </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="modal-footer">
              <button @click="cancelDefect" class="btn btn-warning" type="button">Требует корректировки</button>
              <button @click="finishworkDefect" class="btn btn-primary" type="button">Работы завершены</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endraw %}
<script src="{{ url_for('defect_js', path='finish-work-defect.js') }}"></script>