{% raw %}
<div id='vueHead'>
	<header class="p-3 back">
		<div class="container">
			<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
				<!-- <img class="img-logo" src='../img/logo.gif' alt="Векторный логотип"> -->
				<h2 style="text-align: left;" class="h2" href="#" >Электронный журнал дефектов АЭС "АККУЮ"</h2>
				<div class="text-end lastbutton">
					<b class="navbar-brand  col-lg-2 rr px-3 fs-6">{{ userFioEmail }}</b>
					<button id="exitButton" @click="logOut" type="button" class="btn btn-outline-primary me-2" style="width: 120px;">Выход</button>
				</div>
			</div>
		</div>
	</header>
</div>
{% endraw %}
<script src="{{ url_for('defect_js', path='head.js') }}"></script>
