{% raw %}
<div id="vueDefect">
  <div>
    <main>
      <div class="table-responsive small">
        <!-- <table class="table table-striped table-sm"> -->
        <table class="table table-bordered table-striped border-primary table-hover">
          <tbody>
            <thead>
              <tr class="head_table">
                <th v-for="colunmName in colunmsName">{{ colunmName }}</th>
              </tr>
            </thead>
            <tr  @dblclick="handleDoubleClick" data-bs-target="#ConfirmDefectModalWindow" v-for="defect in defects" v-bind:key="defect.defect_id">
              <td class="main-table_td95">{{ defect.defect_id }}</td>
              <td class="main-table_td150">{{ defect.defect_created_at }}</td>
              <td class="main-table_td95">{{ defect.defect_planned_finish_date }}</td>
              <td class="main-table_td150">{{ defect.defect_owner }}</td>
              <td class="main-table_td95">{{ defect.defect_system.system_kks }}</td>
              <td>{{ defect.defect_system.system_name }}</td>
              <td>{{ defect.defect_description }}</td>
              <td id='stat_color' class="main-table_td180">{{ defect.defect_status.status_defect_name }}</td>
              <td class="main-table_td180">{{ defect.defect_repair_manager.user_surname + ' ' + defect.defect_repair_manager.user_name}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  </div>

  <div class="footer">
    <div class="footer-left" v-if="pages > 1">
      <span class="footer-left-span">Кол-во записей на странице:</span>
      <select class="form-select footer-left-select" aria-label="Default select example" v-model="pageSize" @change="changePage">
        <option value=15>15</option>
        <option value=30>30</option>
        <option value=45>45</option>
      </select>
    </div>

    <ul class="pagination justify-content-center" v-if="pages > 1">
      <li class="page-item" :class="{ disabled: pageNumber == 1 }" @click="changePage">
        <a class="page-link">Назад</a>
      </li>
      <li class="page-item" v-for="n in pages"><a class="page-link" :class="{ active: n == pageNumber }" @click="changePage" :value="n">{{ n }}</a></li>
      <li class="page-item" :class="{ disabled: pageNumber == pages }">
        <a class="page-link" @click="changePage">Вперед</a>
      </li>
    </ul>

    <div class="footer-right">
      <span >Разработано ЦИКТ. AKKUYU NÜKLEER A.Ş.</span>
    </div>

  </div>
</div>


{% endraw %}

<script src="{{ url_for('defect_js', path='main-table.js') }}"></script>