.myfont {
  font-family: "Calibri", "Microsoft Sans Serif";
}

.modal-title {
  font-family: "Calibri", "Microsoft Sans Serif";
}

/* Стили для стрелок сортировки */
.sort-icon {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border: 4px solid transparent;
}

/* Скрываем стрелку в элементе select с классом "custom-select" */
.custom-select-withnot-arrow.form-select {
  /* Убираем стандартную стрелку */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Убираем фоновую картинку */
  background-image: none;
  /* Убираем padding, чтобы текст не залазил на место стрелки */
  padding-right: 0;
}

.select2-container .select2-selection--single {
  height: 34px !important;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ccc !important;
  border-radius: 0px !important;
}

.textareanoneresize {
  resize: none;
}

.adapt-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.b-example-divider {
  width: 100%;
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.block_margin_adapt {
  margin-bottom: 15px;
}

.block_margin_bottom10 {
  margin-bottom: 10px;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.btn-bd-primary {
  --bd-violet-bg: #712cf9;
  --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

  --bs-btn-font-weight: 600;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: var(--bd-violet-bg);
  --bs-btn-border-color: var(--bd-violet-bg);
  --bs-btn-hover-color: var(--bs-white);
  --bs-btn-hover-bg: #6528e0;
  --bs-btn-hover-border-color: #6528e0;
  --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
  --bs-btn-active-color: var(--bs-btn-hover-color);
  --bs-btn-active-bg: #5a23c8;
  --bs-btn-active-border-color: #5a23c8;
}

.white {
  color: blue;
  background-color: white; 

}
.blue {
  color: white;
  background-color: blue;
}

.accordion-header1 {
  color: #fff;
  font-weight: bold;
}

.accordion-button {
  font-weight: bold;
  background-color: rgb(171, 207, 248);
  padding: 5px 25px 5px 25px;
  border-radius: 0px;
}

.accordion-button:not(.collapsed) {
  background-color: rgb(171, 207, 248);
}

.accordion-button::after {
  margin-left: 10px;
}

.form-check-input1 {
  background-color: #0d6efd !important;
  --bs-form-switch-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e);
}

.bd-mode-toggle {
  z-index: 1500;
}

.bd-mode-toggle .dropdown-menu .active .bi {
  display: block !important;
}

.navbar-nav1 {
  display: none;
}

.btn-group {
  margin: 5px 5px;
}

.lastbutton {
  margin-left: auto;
}

.lastcheckbox {
  margin-left: auto;
  margin-right: 5px;
  padding-top: 5px;
}

.back {
  background: no-repeat url("../img/fon.jpg");
  background-size: 100% auto;
}

.back1 {
  background: no-repeat url("../img/hellokitty.jpg");
  background-size: 100% auto;
}

.back-color {
  background: #cce3fd;
  background-image: linear-gradient(0deg, #cce3fd 0%, #ffffff 100%);
}


.last_block_row {
  margin: 0px 5px 5px 5px;
}

.container_about {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block_data_filter {
  display: flex;
  flex-direction: row;
}

.block_data_column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0px 5px 0px 0px;
}

.block_data_column1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  margin: 0px 5px 0px 0px;
}

.block_data_column_KKS {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0px 5px 0px 0px;
}

.block_data_column2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.block_data_column3 {
  display: flex;
  flex-direction: column;
}

.block_data_column4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 0px 3px;
}

.h4 {
  margin: 10px;
}

.text-down {
  display: flex;
  align-items: flex-end;
  padding: 0px 0px 15px 10px;
}

.block_height100 {
  height: 100%;
}

.block-checkbox3 {
  margin: 0px 5px 5px 5px;
}

.block-checkbox4 {
  margin: 10px 35px 0 35px;
}

.height100 {
  height: 100px;
}

.width650 {
  width: 50%;
}

.width50 {
  width: 50%;
}

.width300px {
  width: 350px;
}

.width500 {
  min-width: 500px;
}

.widthKKS {
  height: 60px;
  width: 50%;
}

.KKS_button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width60 {
  max-width: 100%;
  margin-right: 5px;
}

.width30 {
  width: 30%;
}

.width35 {
  width: 35%;
}

.width25 {
  width: 25%;
}

.empty_block {
  width: 230px;
  height: 1px;
}

.margin_left_right {
  margin: 0px 10px 0px 0px;
}

.ml {
  margin-left: 5px;
}

.modal-dialog1 {
  width: 50%;
}

.KKS_discr {
  text-align: left;
  vertical-align: middle;
  padding-top: 15px;
}

.KKS_discr_confirm {
  text-align: left;
  vertical-align: middle;
  padding: 5px 0px;
}

.KKS_discr_p {
  margin: 0;
}

.block_nav_modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.block_checkbox {
  text-align: center;
  vertical-align: middle;
  margin: auto;
}

.block_checkbox1 {
  margin-top: 25px;
}

.width80 {
  width: 80%;
}

.width100 {
  width: 100%;
}

.nav-link:hover {
  background-color: bisque;
}



@media screen and (max-width: 1430px) {
  

  .widthKKS {
    height: 40px;
    width: 100%;
  } 

  .button-text {
    display: none;
  }

  .block_data_column_KKS {
    width: 35%;
  }

  .KKS_discr {
    display: none;
  }

  .KKS_discr_confirm {
    display: none;
  }
  
  .width650 {
    min-width: 650px;
  }

}

.rr {
  margin-left: 10px;
}

.rr20 {
  margin-left: 15px;
}

.margin6px {
  margin: 0px 10px 0px 0px;
}

.type-defect {
  max-width: 214px;
  min-width: 170px;
  height: 38px;
  margin-right: 15px;
}

.type-defect2 {
  max-width: 300px;
  min-width: 170px;
  height: 38px;
  margin-right: 15px;
}

.mylabel {
  padding: 5px;
  margin: 0;
  
}

.block_filter {
  padding: 10px 15px 5px 15px;
  height: 50px;
  background-color: rgb(171, 207, 248);
}

.mydatechoise {
  display: flex;
  flex-direction: row;
}

.block_filter_flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.block_filter_flex_status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block_overdue {
  width: 210px;
  margin: 10px 0px;
}

.block_data {
  width: 150px;
  margin: 0px 25px 0px 0px;
}

.modal {
  --bs-modal-width: 80%;
}

.modal1 {
  width: 50% !important;
  background-color: grey;
}

.modal3 {
  --bs-modal-width: 80% !important;
  background-color: grey;
}

.block_data_ppr {
  width: 80%;
  margin: 0px 0px 5px 0px;
}

.block_data1 {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.block_data2 {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 3px;
}

.block_data6 {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 3px;
  margin-bottom: 10px;
}

.block_data3 {
  display: flex;
  flex-direction: row;
  width: 50%;
  min-height: 80px;
  margin: 3px;
}

.block_data4 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.block_data5 {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 3px;
}

.block_data7 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.block_data8 {
  width: 100%;
}

.block_data9 {
  display: flex;
  flex-direction: row;
}

.orange {
  background-color: orange;
}

.el-table .warning-row {
  background: red;
}

.el-table .success-row {
  background:  orange;
}

.zvezda {
  color: red;
  font-size: large;
  font-weight: bold;
}

.block-checkbox {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 3px;
  align-items: center;
}

.block-checkbox1 {
  margin-top: 8px;
  margin-left: 10px;
  align-items: center;
  vertical-align: middle;
}

.block-checkbox2 {
  display: none;
  min-width: 200px;
  margin: 3px;
  align-items: center;
}

.el-checkbox {
  margin: 3px;
}
 
.el-checkbox1 {
  vertical-align: middle;
}

.block_input_data {
  
  padding: 0px 5px;
  text-align: left;
  font-size: 16px;
  vertical-align: middle;
}

.status_add_defect {
  background-color: #ee4545;
  color: #fff;
  padding: 0px 15px 0px 25px;
}

.status_confirm_defect {
  background-color: #f3da25;
  color: #000;
  padding: 0px 15px 0px 25px;
}

.status_accept_defect {
  background-color: #8bd2e7;
  color: #000;
  padding: 0px 15px 0px 25px;
}

.status_execution_defect {
  background-color: #d438d4;
  color: #fff;
  padding: 0px 15px 0px 25px;
}

.status_finish_work_defect {
  background-color: #081b8a;
  color: #fff;
  padding: 0px 15px 0px 25px;
}

.card_defect {
  background-color: #ffffff;
  color: #000;
  padding: 0px 15px 0px 25px;
}

 .status_check_defect {
  background: repeating-linear-gradient(
  45deg,
  #606dbc,
  #606dbc 10px,
  #465298 10px,
  #465298 20px
);
  color: #fff;
  padding: 0px 15px 0px 25px;
}
 

.status_close_defect {
  background-color: #088a2f;
  color: #fff;
  padding: 0px 15px 0px 25px;
}

.status_correction_defect {
  background-color: #ffc20d;
  color: #000;
  padding: 0px 15px 0px 25px;
}

.status_info_defect {
  background-color: #0dcaf0;
  color: #000;
  padding: 0px 15px 0px 25px;
}

.head_table {
  text-align: center;
  vertical-align: middle;
}

.block_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block_row1 {
  display: flex;
  flex-direction: row;
}

.block_rowKKS {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.block-history{
  margin: 5px;
}

.block-table {
  margin: 10px;
}

.table-sm1 {
  font-size: 10px;
}

.table-column1 {
  width: 60px;
}

.demotable {
  counter-reset: schetchik; /* счётчик с названием "schetchik" работает в рамках класса .demotable */ 
}
.demotable tr {
  counter-increment: schetchik;  /* при встрече тега tr счётчик с названием "schetchik" увеличивается на единицу */ 
}
.demotable tr:before {
  content: counter(schetchik);  /* значение счётчика с названием "schetchik" записывается в первую клетку строки */ 
}

.block_theme {
  width: 230x;
  margin-right: 10px;
}

.pagination {
  list-style-type: none;
}

.pagination-item {
  display: inline-block;
}

.active {
  background-color: #4AAE9B;
  color: #ffffff;
}

.block-pagination {
  height: 30px;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.scroll-table-body {
	height: 605px;
	overflow-x: auto;
	margin-top: 0px;
	border-bottom: 1px solid #eee;
}

.column1 {
  width: 15%;
}

.column2 {
  width: 15%;
}

.column3 {
  width: 15%;
}

.column4 {
  width: 53%;
}

.table .demotable td.column4 {
  white-space: pre-line;
}

.table-hover tbody tr:hover td {
  background: rgb(204, 227, 253);
}

.form-control1 {
  width: 50%;
}

.block-img {
  background-image: url('../img/fon.jpg');
  background-size: Auto;
}

.w190 {
  width: 190px;
}

.w190_adapt {
  width: 190px;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
}

.footer-left-span {
  width: 220px;
  height: 38px;
  padding-top: 5px;
}

.footer-left-select {
  width: 80px;
  height: 38px;
}

.footer-right {
  max-width: 320px;
  margin-right: 25px;
}

.main-table_td110 {
  width: 110px;
}

.main-table_td130 {
  width: 130px;
}

.main-table_td160 {
  width: 160px;
}

.main-table_td180 {
  width: 180px;
}

.type-defect1 {
  margin-right: 15px;
}

.modal-footer1 {
  justify-content:space-between;
  padding: 0px 15px;
  border-top: 0px;
}

.modal-footer2 {
  padding: 0px 15px 3px 15px;
  border-top: 0px;
}

.modal2 {
  position: relative;
  top: 670px;
}

.text_center {
  text-align: center;
  margin-bottom: 0px;
}

.text_left {
  text-align: left;
  margin-bottom: 15px;
}


.text_center1 {
  text-align: center;
}

.button-margin {
  margin-right: 15px;
}

.style-1 {
  background-color: rgb(215,215,44)
}
.style-2 {
  background-color: rgb(114,114,67)
}

.selected{
  background-color:green !important;
}
.bad{
  background-color:red !important;
}

.p{
  width: 100%;
  text-align: right;
  margin-top: 50px;
  padding-right: -10px;
  color: #737373;
}

.pos_r {
  position: relative;
}

.pos_a {
  position: absolute;
  top: 70%;
  left: 94%;
}

.pos_a_cor {
  position: absolute;
  top: 55%;
  left: 94%;
}

.pos_r1 {
  position: relative;
}

.pos_a1 {
  position: absolute;
  top: 77%;
  left: 94%;
}

.pos_r2 {
  position: relative;
}

.pos_a2 {
  position: absolute;
  top: 57%;
  left: 45%;
}

.pos_a3 {
  position: absolute;
  top: 57%;
  left: 94%;
}

.correction_area {
  min-height: 60px;
}

.margin-right {
  margin-right: 15px;;
}

.margin-right1 {
  margin-right: 10px;
}

.margin {
  margin: 5px;
}

.block_filter_flex1 {
  display: flex;
  flex-direction: row;
  margin: 17px 15px 0px 0px;
}

.block_filter_flex2 {
  display: flex;
  flex-direction: row;
  margin: auto;
  margin-top: 5px;
}

.verticalLine {
  border-left: thin dashed #726b6b;
}

.verticalLine1 {
  border-left: 2px dotted #726b6b;
  margin: 0px 15px 0px 0px;
}

.block-checkbox-left {
  padding-left: 0px;
}

.block-about {
  width: 50%;
}

.about-image {
  text-align: center;
}

.header-block {
  background-color: rgb(204, 227, 253);
}

.header-block1 {
  background-color: rgb(141, 187, 240);
}

.block_border {
  border: 1px solid #ee4545;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

.block_border_grey {
  border: 1px solid grey;
  border-radius: 5px;
  margin: 5px;
  padding: 3px;
}

.block_100 {
  width: 100%;
}

.modal-body1 {
  padding: 0px 15px;
}

.modal-body2 {
  padding: 5px 15px;
}

.label {
  font-family: "Calibri", "Microsoft Sans Serif";
  font-weight: 600;
}

.img-logo {
  width: 100px;
  margin: 10px;
}

.componentWraper {
  margin: 10px 0px;
  position: relative;
  border: 1px solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 15px 10px;
}

.componentWraper::before {
  content: 'Устранение дефекта';
  position: absolute;
  top: -10px;
  padding: 0 10px;
  background: #fff;
}

.componentWraper1 {
  margin: 10px 0px 0px 0px;
  position: relative;
  border: 1px solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 15px 10px;
}

.componentWraper1::before {
  content: 'Проверка устранения дефекта';
  position: absolute;
  top: -10px;
  padding: 0 10px;
  background: #fff;
}

.componentWraper2 {
  margin: 10px 5px;
  position: relative;
  border: 1px solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 10px;
}

.componentWraper2::before {
  content: 'Состояние оборудования';
  position: absolute;
  top: -15px;
  padding: 0 10px;
  background: #fff;
}

.componentWraper0 {
  margin: 10px 5px 10px 0;
  position: relative;
  border: 1px solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 10px;
  min-height: 110px;
}

.componentWraper0::before {
  content: 'Состояние оборудования';
  position: absolute;
  top: -15px;
  left: 85px;
  padding: 0 10px;
  background: #fff;
  background-color:rgb(171, 207, 248)
}

.registrationFilterWrapper {
  border: thin solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  margin: 10px 5px 15px 0;
  min-height: 110px;
}

.registrationFilterWrapper::before {
  content: 'Период регистрации';
  position: absolute;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  background-color: rgb(171, 207, 248);
}

.commonFilterWrapper {
  border: thin solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 10px;
  position: relative;
  margin: 10px 5px 15px 0;
  min-height: 110px;
}

.commonFilterWrapper::before {
  content: 'Общие фильтры';
  position: absolute;
  top: -15px;
  padding: 0 10px;
  background: #fff;
  background-color: rgb(171, 207, 248);
}

.eliminationFilterWrapper {
  width: 170px;
  border: thin solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 10px 0px;
  position: relative;
  margin: 10px 5px 15px 0;
  min-height: 110px;
}

.eliminationFilterWrapper::before {
  content: 'Срок устранения';
  position: absolute;
  top: -15px;
  left: 15px;
  padding: 0 10px;
  background: #fff;
  background-color: rgb(171, 207, 248);
}

.overDueFilterWrapper {
  width: 230px;
  border: thin solid rgb(179, 160, 157);
  border-radius: 10px;
  position: relative;
  margin: 10px 5px 15px 0;
  min-height: 110px;
}

.overDueFilterWrapper::before {
  content: 'Статусы дефектов';
  position: absolute;
  top: -15px;
  left: 25px;
  padding: 0 10px;
  background: #fff;
  background-color: rgb(171, 207, 248);
}

.componentWraper3 {
  position: relative;
  border: 1px solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 10px 10px;
}

.componentWraper3::before {
  content: 'Сведения о дефекте';
  position: absolute;
  top: -14px;
  padding: 0 10px;
  background: #fff;
}

.componentWraper4 {
  margin: 10px 0px;
  position: relative;
  border: 1px solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 15px 10px;
}

.componentWraper4::before {
  content: 'Коренная причина дефекта';
  position: absolute;
  top: -15px;
  padding: 0 10px;
  background: #fff;
}

.componentWraper5 {
  margin: 10px 0px;
  position: relative;
  border: 1px solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 15px 10px;
}

.componentWraper5::before {
  content: 'Непосредственная причина дефекта';
  position: absolute;
  top: -15px;
  padding: 0 10px;
  background: #fff;
}

.componentWraper6 {
  margin: 10px 10px;
  position: relative;
  border: 1px solid rgb(179, 160, 157);
  border-radius: 10px;
  padding: 15px 10px;
}

.margin-left {
  margin-left: 20px;
}

.block_margin {
  margin-bottom: 20px;
}

.outer {
  position: relative;
}

.inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (min-width:200px) and (max-width:8000px) {

  
  .h2 {
    margin: auto;
  }

  .text-end {
    margin: auto;
  }

  .block_filter {
    height: 140px;
  }

  .block_filter_flex {
    flex-direction: column;
    justify-content: space-around;
  }

  .type-defect1 {
    margin-bottom: 5px;
    margin-top: 0px;
    margin-right: 0px;
  }

  .block_filter_label {
    width: 70px;
  }
  
  .block-checkbox1 {
    margin-top: 1px;
    vertical-align: middle;
  }

  .block-checkbox2 {
    display: none;
    margin-top: 5px;
    vertical-align: middle;
  }

  .mylabel1 {
    display: none;
    padding: 25px 15px 25px 0px;
    
  }

  .modal {
    --bs-modal-width: 95%;
  }

  .block-about {
    width: 90%;
  }

  /* .pos_a1 {
    position: absolute;
    top: 33%;
    left: 4%;
  } */

  /* Внимание! CSS выше до @media относятся к адаптивности */


  @media screen and (min-width: 200px) and (max-width: 1700px) {

    .text-down {
      display: flex;
      align-items: flex-end;
      padding: 0px 0px 0px 10px;
    }

    .KKS_button {
      display: flex;
      justify-content: left;
      align-items: center;
    }

    .text_left {
      text-align: left;
      margin-bottom: 0px;
    }

    .widthKKS {
      height: 40px;
      width: 100%;
    } 

    .KKS_discr_p {
      display: none;
    }

    .block_filter_flex2 {
      display: flex;
      flex-direction: row;
      margin: 15px 15px 0px 0px;
    }

    .block_margin_adapt {
      margin-bottom: 0px;
    }

    .block_theme {
      width: 276px;
      margin-right: 10px;
    }

    .block_overdue {
      width: 53%;
      margin: 10px;
    }

    .block_filter_flex1 {
      display: flex;
      flex-direction: row;
      margin: 17px 15px 0px 0px;
    }

    .overDueFilterWrapper {
      display: flex;
      flex-direction: row;
      width: 440px;
      border: thin solid rgb(179, 160, 157);
      border-radius: 10px;
      position: relative;
      margin: 0px 5px 0px 0px;
      min-height: 80px;
    }

    .block_row_pnr {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    
    .componentWraper0 {
      margin: 0px 5px 0px 0px;
      position: relative;
      border: 1px solid rgb(179, 160, 157);
      border-radius: 10px;
      padding: 10px;
      min-height: 80px;
    }

    .componentWraper0::before {
      content: 'Состояние оборудования';
      position: absolute;
      top: -15px;
      left: 15px;
      padding: 0 10px;
      background: #fff;
      background-color:rgb(171, 207, 248)
    }

    .block_data_column_KKS {
      display: flex;
      flex-direction: column;
      margin: 0px 3px 0px 0px;
    }

    .block_filter {
        height: 240px;
    }

    .block_data_filter {
      display: flex;
      flex-direction: column;
    }
    
    .type-defect {
      max-width: 214px;
      min-width: 170px;
      height: 38px;
    }

    .block-checkbox-left {
      padding-left: 0px;
  }
    
  }

   @media screen and (min-width:200px) and (max-width:1255px) {

    .componentWraper0 {
      display: flex;
      flex-direction: column;
      margin: 0px 5px 0px 0px;
      position: relative;
      border: 1px solid rgb(179, 160, 157);
      border-radius: 10px;
      padding: 10px;
      width: 56.5%;
      min-height: 90px;
    }

    .block-checkbox3 {
      margin: 0px 5px;
    }

    .form-check {
      margin-bottom: 0px;
    }

    .overDueFilterWrapper {
      display: flex;
      flex-direction: row;
      width: 440px;
      border: thin solid rgb(179, 160, 157);
      border-radius: 10px;
      position: relative;
      margin: 0px 5px 0px 0px;
      min-height: 90px;
    }

    .adapt-block {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 90px;
    }

    .w190_adapt {
      width: 100px;
    }

    .block_filter {
      height: 250px;
  }

 

  .block_filter_flex2 {
    display: flex;
    flex-direction: row;
    margin: 0px 15px 0px 0px;
  }

  .block_margin_bottom10 {
    margin-bottom: 0px;
  }

  } 

}

